[VARIABLES]
API_URL = https://api.explorer.kyve.network
VALOPER = <valoper>
TOKEN_FUNDS_ALERT = 80
TELEGRAM_TOKEN = <telegram_token>
TELEGRAM_CHAT_ALERT_ID = <telegram bot token>
TELEGRAM_CHAT_INFO_ID = <telegram chat id> ;remove if you don't want to send info about validator to telegram